# Declarative Programming

In addition to streams, data values are often stored in large repositories called databases. Each value stored in a database is called a *record*. Records are retrieved and transformed using queries, which are statements in a query language. By far the most ubiquitous query language in use today is called Structured Query Language or SQL.

SQL is an example of a declarative programming language. Statements do not describe compuations directly, but instead describe the desired result of some computation. This interaction differs substantially from the procedural programming paradigm of Python or Scheme.

## Tables

A table, also called a relation, has a fixed number of named and typed columns. Each row of a table represents a data record and has one value for each column.

A table with a single row can be created in the SQL language using a `select` statement, in which the row values are separated by commas and the column names follow the keyword "as". All SQL statements end in a semicolon.

A multi-line table can be constructed by *union*, which combines the rows of two tables.

![image](1.jpg)

A table can be given a name using a `create table` statement. Once a table is named, that name can be used in a `from` clause within a `select` statement. All columns of a table can be displayed using the special `select *` form.

![image](2.jpg)

## Select statements

A `select` statement defines a new table either by listing the values in single row or, more commonly, by projecting an existing table using a `from` clause.

The columns of the resulting table are described by a comma-sepearated list of expression that are each evaluated for each row of the existing input table.

![image](3.jpg)

Optionally, each expression can be followed by the keyword `as` and a column name.

![image](4.jpg)

**Where Clauses**. A `select` statement can also include a `where` clause with a filtering expression. Only a row for with the filtering expression evaluates to a true value will be used to produce a row in the resulting table.

![image](5.jpg)

**Order Clauses**. A `select` statement can also express an ordering over the resulting table.

![image](6.jpg)

## Joins

Date can be combined by joining multiple tables together into one. If two tables are joined and the left table has **m** rows and the right table has **n** rows, then the joined table will have **mn** rows.

![image](7.jpg)

The `where` clause can select for rows in the joined table in which these values are equal.

![image](8.jpg)

Tables may have overlapping column names, so we need a method for disambiguating column names by table. SQL allows us to give aliases to tables within a `from` claus using the keyword `as` and to refer to a column within a particular table using a dot expression.

![image](9.jpg)

## Aggregation and Grouping

A `select` statement can perform aggregation operations over multiple rows. The aggregate functions `max, min, count` and `sum` return the maximum, minimum, number, and the sum of the values in a column. Multiple aggregate functions can be applied to the same set of rows by defining more than one column.

![image](10.jpg)
![image](11.jpg)

The `distinct` keyword ensures that no repeated values in a column are included in the aggregation. The special `count(*)` syntax counts the number of the rows.

![image](12.jpg)

The `group by` and `having` clauses of a `select` statement are used to partition rows into groups and select only a subset of the groups. Any aggregate functions in the `having` clause or column description will apply to each group independently.

![image](13.jpg)

Multiple columns and full expressions can appear in the `group by` clause, and groups will be formed for every unique combination of values that result.

![image](14.jpg)

When using a `group by` clause, column descriptions can contain expressions that do not aggregate. In some cases, the SQL interpreter will choose the value from a row that corresponds to another column that includes aggregation.

![image](15.jpg)

However, whenever the row that corresponds to aggregation is unclear (for instance, when aggregating with `count` instead of `max`), the value chosen may be arbitrary.

## Create Table and Drop Table

As we saw earlier, we can combine the `create table` statement with the `select` statement to give a name to an existing table, but we can also use the `create table` statement along with a list of column names to create an empty table. For each column, we can optionally include the `unique` keyword, which indicates that the column can only contain unique values, or the `default` keyword, which gives a default value for an item in the column. 

The `drop table` statement deletes a table from our database.

![image](16.jpg)

## Modify Tables

The `insert into` statement allows us to add rows to a table in our database. We can insert values into all columns of our table, or we can add to one specific column, which will set the other columns to their default values. By combining the `insert into` and `select` statements, we can add the rows of an existing table to our table.

![image](17.jpg)
![image](18.jpg)

The `update` statement sets all entries in certain columns of a table to new values for a subset of rows as indicated by an optional `where` clause. We can update all rows by omitting the optional `where` clause.

The `delete from` statement deletes a subset of rows of a table as indicated by an optional `where` clause. If we don't include a `where` clause, then we will delete all rows, but an empty table would remain in our database.

![image](19.jpg)

In [1]:
dd = [0, 1, 2]

In [2]:
a = dd[2]

In [3]:
dd.remove(a)

In [4]:
dd

[0, 1]

In [5]:
[] + [4]

[4]

In [1]:
a = [[], [2], [3], [2,3]]

In [2]:
b = a.copy()

In [3]:
for i in b:
    print(i + [4])
    a.append(i + [4])

[4]
[2, 4]
[3, 4]
[2, 3, 4]

In [2]:
a.append(a[1] + [4])

In [3]:
a

[[], [2], [3], [2, 3], [2, 4]]

In [5]:
sum([])

0

In [6]:
a = [1, 2]

In [9]:
b = filter(lambda x: x>0, [1, 2, -3])

In [10]:
list(b)

[1, 2]

In [11]:
len(b)

TypeError: object of type 'filter' has no len()